server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://database-svc:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: error